<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wayapaychat.gram.profile">

    <application>
        <activity android:name=".GramProfileActivity"
            android:theme="@style/WayaAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="${gram_profile_home}" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>